Repository XRPLF/xrpl-dev-portal, pull requests merged in 2023-01, with the labels that each got.

#1637 Clarify NFTokenTaxon
  content/references/protocol-reference/transactions/transaction-types/nftokenmint.md
Labels: tokenization

#1644 0062 Account-Based TOML Lookup Bounty
  assets/css/devportal2022-v13.css
  assets/js/xrp-ledger-toml-checker-test.js
  assets/js/xrp-ledger-toml-checker.js
  styles/_toml-checker.scss
  styles/xrpl.scss
  template/page-toml-checker.html.jinja
Labels: bounties

#1710 Add anchor tag and fix linking from untranslated page.
  content/concepts/consensus-network/amendments/amendments.md
  content/references/http-websocket-apis/peer-port-methods/health-check.ja.md
  dactyl-config.yml
Labels: organization
