Repository XRPLF/xrpl-dev-portal, pull requests merged in 2023-12, with the labels that each got.

#2262 Community page
  assets/css/devportal2022-v25.css
  assets/img/community/blockdaemon.png
  assets/img/community/card-bg-1.svg
  assets/img/community/card-bg-2.svg
  assets/img/community/card-bg-3.svg
  assets/img/community/community-five.png
  assets/img/community/community-four.png
  assets/img/community/community-one.png
  assets/img/community/community-one@2x.png
  assets/img/community/community-three.png
  assets/img/community/community-three@2x.png
  assets/img/community/community-two.png
  assets/img/community/community-two@2x.png
  assets/img/community/ic_discord.png
  assets/img/community/ic_discord_light.png
  assets/img/community/ic_github.png
  assets/img/community/ic_github_light.png
  assets/img/community/ic_stackoverflow.png
  assets/img/community/ic_stackoverflow_light.png
  assets/img/community/ic_twitter.png
  assets/img/community/ic_twitter_light.png
  assets/img/community/ic_xrpl.png
  assets/img/community/ic_xrpl_light.png
  assets/img/community/ic_youtube.png
  assets/img/community/ic_youtube_light.png
  assets/img/community/xrp-cafe.png
  assets/img/icons/arrow-down.svg
  assets/js/community/careers-dark.json
  assets/js/community/network-node-light.json
  assets/js/contribute-carousel.js
  assets/js/ecosystem/arrow-animation.json
  styles/_contribute.scss
  styles/_helpers.scss
  styles/_pages.scss
  styles/light/_light-theme.scss
  styles/xrpl.scss
  template/page-community.html.jinja
  tool/filter_categorize_dates.py
Labels: web dev, needs japanese translation

#2309 Remove unused old JS get started
  content/tutorials/get-started/get-started-using-javascript.ja.md.old
Labels: organization

#2310 Fix broken link in desktop wallet readme
  content/_code-samples/build-a-desktop-wallet/js/README.md
Labels: bug
