Repository XRPLF/xrpl-dev-portal, pull requests merged in 2024-11, with the labels that each got.

#2829 AMM/CLOB Clarification
  docs/concepts/tokens/decentralized-exchange/automated-market-makers.md
  docs/img/amm-clob-diagram.png
Labels: needs japanese translation

#2844 fix: Document the default crypto algorithm in client libraries
  docs/concepts/accounts/cryptographic-keys.md
Labels: needs japanese translation

#2841 API v2 Updates
  _api-examples/tx/jsonrpc-response-ctid.json
  _api-examples/tx/jsonrpc-response-hash.json
  _api-examples/tx/ws-response-ctid.json
  _api-examples/tx/ws-response-hash.json
  docs/concepts/payment-types/partial-payments.md
  docs/references/http-websocket-apis/admin-api-methods/signing-methods/sign.md
  docs/references/http-websocket-apis/api-conventions/request-formatting.md
  docs/references/http-websocket-apis/index.md
  docs/references/http-websocket-apis/public-api-methods/account-methods/account_info.md
  docs/references/http-websocket-apis/public-api-methods/account-methods/account_tx.md
  docs/references/http-websocket-apis/public-api-methods/account-methods/noripple_check.md
  docs/references/http-websocket-apis/public-api-methods/index.md
  docs/references/http-websocket-apis/public-api-methods/subscription-methods/subscribe.md
  docs/references/http-websocket-apis/public-api-methods/transaction-methods/submit.md
  docs/references/http-websocket-apis/public-api-methods/transaction-methods/transaction_entry.md
  docs/references/http-websocket-apis/public-api-methods/transaction-methods/tx.md
  docs/references/protocol/transactions/types/payment.md
  package-lock.json
  package.json
  resources/dev-tools/components/websocket-api/data/command-list.json
Labels: content updates, needs japanese translation

#2868 Update package hashes for 2.3.0 with note
  blog/2024/rippled-2.3.0.md
Labels: content updates
