Repository XRPLF/xrpl-dev-portal, pull requests merged in 2024-12, with the labels that each got.

#2865 Fee Voting revisions
  docs/concepts/consensus-protocol/fee-voting.md
Labels: content updates, needs japanese translation

#2711 Add fields to NFTokenMint
  @l10n/ja/docs/references/protocol/transactions/types/nftokenmint.md
  docs/references/protocol/transactions/types/nftokenmint.md
Labels: needs japanese translation

#2885 Update Base and Owner reserve values in reserves.md
  docs/concepts/accounts/reserves.md
Labels: needs japanese translation

#2894 Update reserves info
  .env
  @l10n/es-ES/docs/concepts/accounts/deleting-accounts.md
  @l10n/es-ES/docs/concepts/accounts/depositauth.md
  @l10n/es-ES/docs/concepts/accounts/index.md
  @l10n/es-ES/docs/concepts/accounts/reserves.md
  @l10n/es-ES/docs/concepts/accounts/tickets.md
  @l10n/es-ES/docs/concepts/consensus-protocol/fee-voting.md
  @l10n/ja/docs/concepts/accounts/reserves.md
  @l10n/ja/docs/concepts/consensus-protocol/fee-voting.md
  @l10n/ja/docs/concepts/tokens/nfts/reserve-requirements.md
  @l10n/ja/docs/concepts/transactions/transaction-queue.md
  @l10n/ja/docs/references/protocol/ledger-data/ledger-entry-types/nftokenpage.md
  @l10n/ja/docs/use-cases/tokenization/nft-mkt-overview.md
  blog/2024/lower-reserves-are-in-effect.md
  blog/sidebars.yaml
  docs/concepts/accounts/deleting-accounts.md
  docs/concepts/accounts/depositauth.md
  docs/concepts/accounts/index.md
  docs/concepts/accounts/reserves.md
  docs/concepts/accounts/tickets.md
  docs/concepts/consensus-protocol/fee-voting.md
  docs/concepts/tokens/fungible-tokens/authorized-trust-lines.md
  docs/concepts/tokens/nfts/reserve-requirements.md
  docs/concepts/tokens/nfts/trading.md
  docs/concepts/transactions/transaction-queue.md
  docs/references/protocol/ledger-data/ledger-entry-types/nftokenpage.md
  docs/references/protocol/transactions/types/accountdelete.md
  docs/references/protocol/transactions/types/ammcreate.md
  docs/tutorials/how-tos/manage-account-settings/set-up-multi-signing.md
  docs/tutorials/how-tos/send-xrp.md
  docs/tutorials/how-tos/use-specialized-payment-types/use-payment-channels/open-a-payment-channel-to-enable-an-inter-exchange-network.md
  docs/tutorials/how-tos/use-tokens/create-an-automated-market-maker.md
  docs/tutorials/python/build-apps/build-a-desktop-wallet-in-python.md
  docs/use-cases/tokenization/authorized-minter.md
  docs/use-cases/tokenization/digital-artist.md
  docs/use-cases/tokenization/nft-mkt-overview.md
  docs/use-cases/tokenization/nftoken-marketplace.md
Labels: content updates

#2908 Add MPTs to xrpl.org docs
  docs/_snippets/common-links.md
  docs/_snippets/mpts-disclaimer.md
  docs/concepts/tokens/fungible-tokens/index.md
  docs/concepts/tokens/fungible-tokens/multi-purpose-tokens.md
  docs/references/http-websocket-apis/public-api-methods/clio-methods/mpt_holders.md
  docs/references/http-websocket-apis/public-api-methods/ledger-methods/ledger_entry.md
  docs/references/protocol/ledger-data/ledger-entry-types/mptoken.md
  docs/references/protocol/ledger-data/ledger-entry-types/mptokenissuance.md
  docs/references/protocol/transactions/metadata.md
  docs/references/protocol/transactions/types/clawback.md
  docs/references/protocol/transactions/types/mptokenauthorize.md
  docs/references/protocol/transactions/types/mptokenissuancecreate.md
  docs/references/protocol/transactions/types/mptokenissuancedestroy.md
  docs/references/protocol/transactions/types/mptokenissuanceset.md
  docs/references/protocol/transactions/types/payment.md
  sidebars.yaml
Labels: needs japanese translation

#2902 Clarify trading fees
  docs/concepts/tokens/decentralized-exchange/automated-market-makers.md
Labels: needs japanese translation

#2888 Quick fixes
  @l10n/ja/docs/references/protocol/binary-format.md
  docs/references/protocol/binary-format.md
  redirects.yaml
Labels: needs japanese translation
