Repository XRPLF/xrpl-dev-portal, pull requests merged in 2024-03, with the labels that each got.

#2464 Improve alignment on left/right margins
  @theme/styles.css
  static/css/devportal2024-v1.css
  styles/_cards.scss
  styles/_layout.scss
  styles/_osano.scss
  styles/_top-nav.scss
  styles/_xrplai.scss
Labels: web dev

#2456 Fix links
  @i18n/ja/docs/concepts/accounts/depositauth.md
  @i18n/ja/docs/use-cases/defi/algorithmic-trading.md
  @i18n/ja/resources/contribute-code/create-custom-transactors.md
  @i18n/ja/resources/contribute-code/index.md
  docs/concepts/tokens/decentralized-exchange/automated-market-makers.md
  docs/use-cases/defi/algorithmic-trading.md
Labels: needs japanese translation

#2505 Fix edit button colors in dark mode
  static/css/devportal2024-v1.css
  styles/_font.scss
  styles/_github-edit.scss
Labels: bug, web dev

#2503 Blog: unify nav with rest of site
  @i18n/ja/translations.yaml
  @theme/components/Navbar/Navbar.tsx
  @theme/plugins/blog-posts.js
  blog/index.page.tsx
Labels: web dev

#2499 Make top nav translatable, with examples
  @i18n/ja/translations.yaml
  @theme/components/Navbar/Navbar.tsx
  sidebars.yaml
  top-nav.yaml
Labels: web dev, i18n

#2511 Fix step numbering in Trade in the DEX tutorial
  docs/tutorials/how-tos/use-tokens/trade-in-the-decentralized-exchange.md
Labels: bug
