Repository XRPLF/xrpl-dev-portal, pull requests merged in 2024-06, with the labels that each got.

#2610 Fix minor issues
  docs/tutorials/public-servers.md
  index.page.tsx
  static/css/devportal2024-v1.css
  styles/light/_light-theme.scss
Labels: bug, web dev, redocly

#2609 Fix some issues with NFT code samples
  _code-samples/non-fungible-token/README.md
  _code-samples/non-fungible-token/js/list-nft-pages-and-buy-offers.js
  _code-samples/non-fungible-token/js/list-nft-pages-and-buy-offers.py
  _code-samples/non-fungible-token/js/package-lock.json
  _code-samples/non-fungible-token/js/package.json
  _code-samples/non-fungible-token/py/list-nft-pages-and-offers.py
Labels: bug, javascript

#2629 Fix a couple broken links and h4/h5 line height
  @i18n/ja/docs/_snippets/tx-metadata-field-table.md
  @theme/styles.css
  docs/_snippets/tx-metadata-field-table.md
Labels: bug

#2635 Add brief page on Non-transferable Tokens
  docs/concepts/tokens/nfts/non-transferable-tokens.md
  sidebars.yaml
Labels: new topic, tokenization, needs japanese translation, needs spanish translation

#2592 add tokenization page
  about/uses.page.tsx
  docs/index.page.tsx
  docs/use-cases/tokenization/index.md
  docs/use-cases/tokenization/index.page.tsx
  package-lock.json
  shared/components/nav-list.tsx
  sidebars.yaml
  static/css/devportal2024-v1.css
  static/img/backgrounds/tokenization-illustration.svg
  static/img/icons/next-purple.svg
  static/img/icons/prev.svg
  static/img/icons/prev_light.svg
  static/img/logos/amy.svg
  static/img/logos/carbonland.svg
  static/img/logos/evernode.svg
  static/img/logos/nautilus.svg
  static/img/logos/onXRP.svg
  static/img/logos/raised-in-space.svg
  static/img/logos/sologenic.svg
  static/img/logos/xaman-labs.svg
  static/img/logos/xrpcafe.svg
  styles/_cards.scss
  styles/_use-cases.scss
  styles/light/_light-theme.scss
  top-nav.yaml
Labels: web dev, content updates, tokenization

#2604 amm updates
  docs/concepts/tokens/decentralized-exchange/automated-market-makers.md
  docs/img/cpt-amm-balance.png
  docs/img/cpt-amm-lp-receiving-lpts.png
  docs/img/cpt-amm-lp-tokens.png
  docs/img/cpt-amm-or-offer.png
  docs/img/cpt-amm.png
Labels: defi, needs japanese translation

#2623 Update Autobridging documentation
  docs/concepts/tokens/decentralized-exchange/autobridging.md
  docs/img/autobridging.png
Labels: needs japanese translation

#2578 Add tutorial on using Auction Slot to save on AMM fees
  .gitignore
  _code-samples/auction-slot/js/amm-formulas.js
  _code-samples/auction-slot/js/auction-slot.js
  _code-samples/auction-slot/js/index.html
  _code-samples/auction-slot/js/package.json
  docs/tutorials/javascript/trade-on-ledger/index.md
  docs/tutorials/javascript/trade-on-ledger/use-amm-auction-slot-for-lower-fees.md
  sidebars.yaml
Labels: new topic, javascript, defi

#2619 Update NegativeUNL page
  docs/concepts/consensus-protocol/negative-unl.md
Labels: content updates

#2618 Document `book_changes` APIs
  _api-examples/book_changes/jsonrpc-response.json
  _api-examples/book_changes/ws-response.json
  docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/book_changes.md
  docs/references/http-websocket-apis/public-api-methods/subscription-methods/subscribe.md
  resources/dev-tools/components/websocket-api/data/command-list.json
  sidebars.yaml
Labels: needs japanese translation
