Repository XRPLF/xrpl-dev-portal, pull requests merged in 2024-10, with the labels that each got.

#2761 Correct AMM Details
  docs/references/protocol/transactions/types/ammdeposit.md
  docs/use-cases/defi/algorithmic-trading.md
Labels: content updates

#2712 AMM modular tutorials.
  _code-samples/quickstart/js/11.create-amm.html
  _code-samples/quickstart/js/12.add-to-amm.html
  _code-samples/quickstart/js/13.trade-with-auction-slot.html
  _code-samples/quickstart/js/ripplex11-create-amm.js
  _code-samples/quickstart/js/ripplex12-add-to-amm.js
  _code-samples/quickstart/js/ripplex13a-trade-with-auction-slot.js
  _code-samples/quickstart/js/ripplex13b-amm-formulas.js
  _code-samples/quickstart/js/ripplex2-send-currency.js
  docs/img/quickstart-add-to-amm1.png
  docs/img/quickstart-add-to-amm2.png
  docs/img/quickstart-add-to-amm3.png
  docs/img/quickstart-add-to-amm4.png
  docs/img/quickstart-add-to-amm5.png
  docs/img/quickstart-add-to-amm6.png
  docs/img/quickstart-add-to-amm7.png
  docs/img/quickstart-create-amm1.png
  docs/img/quickstart-create-amm2.png
  docs/img/quickstart-create-amm3.png
  docs/img/quickstart-create-amm4.png
  docs/img/quickstart-create-amm5.png
  docs/img/quickstart-create-amm6.png
  docs/img/quickstart-create-amm7.png
  docs/img/quickstart-trade-auction-slot1.png
  docs/img/quickstart-trade-auction-slot2.png
  docs/img/quickstart-trade-auction-slot3.png
  docs/img/quickstart-trade-auction-slot4.png
  docs/img/quickstart-trade-auction-slot5.png
  docs/img/quickstart-trade-auction-slot6.png
  docs/tutorials/javascript/amm/add-assets-to-amm.md
  docs/tutorials/javascript/amm/create-an-amm.md
  docs/tutorials/javascript/amm/index.md
  docs/tutorials/javascript/amm/trade-with-auction-slot.md
  package-lock.json
  package.json
  redirects.yaml
  sidebars.yaml
Labels: content updates

#2809 Update latest amendment status & related fixes
  docs/_snippets/common-links.md
  docs/references/protocol/ledger-data/ledger-entry-types/amendments.md
  docs/references/protocol/ledger-data/ledger-entry-types/amm.md
  docs/references/protocol/ledger-data/ledger-entry-types/directorynode.md
  docs/references/protocol/ledger-data/ledger-entry-types/feesettings.md
  docs/references/protocol/ledger-data/ledger-entry-types/negativeunl.md
  resources/known-amendments.md
Labels: content updates, needs japanese translation

#2807 Airgapped wallet (py): slim down dependencies & update to xrpl-py 3.0.0
  _code-samples/airgapped-wallet/py/README.md
  _code-samples/airgapped-wallet/py/airgapped-wallet.py
  _code-samples/airgapped-wallet/py/relay-transaction.py
  _code-samples/airgapped-wallet/py/requirements.txt
Labels: content updates, python, payments
