Repository XRPLF/xrpl-dev-portal, pull requests merged in 2024-05, with the labels that each got.

#2556 AMM Flag Updates
  docs/concepts/tokens/decentralized-exchange/automated-market-makers.md
  docs/concepts/tokens/fungible-tokens/paths.md
  docs/references/protocol/ledger-data/ledger-entry-types/ripplestate.md
  docs/references/protocol/transactions/types/payment.md
Labels: content updates, needs japanese translation

#2564 Fix #2555: make footer clickable on Docs page
  static/css/devportal2024-v1.css
  styles/_pages.scss
Labels: bug, web dev

#2581 Update AMM auction slot details
  docs/concepts/tokens/decentralized-exchange/automated-market-makers.md
  docs/references/protocol/transactions/types/ammbid.md
Labels: content updates, defi

#2544 Did FAQ
  docs/concepts/accounts/decentralized-identifiers.md
Labels: needs japanese translation, needs spanish translation

#2594 add version topics
  docs/references/http-websocket-apis/public-api-methods/clio-methods/version.md
  docs/references/http-websocket-apis/public-api-methods/server-info-methods/version.md
  resources/dev-tools/components/websocket-api/data/command-list.json
  sidebars.yaml
Labels: needs japanese translation

#2593 Fix localized nav
  @theme/components/Navbar/Navbar.tsx
  @theme/plugins/code-samples.js
  package-lock.json
  package.json
Labels: bug, web dev
