Repository XRPLF/xrpl-dev-portal, pull requests merged in 2024-04, with the labels that each got.

#2518 Add ledger entry common fields to sidebar
  sidebars.yaml
Labels: bug

#2519 Fix {{use_network}} appearing in visible text
  docs/tutorials/how-tos/use-tokens/trade-in-the-decentralized-exchange.md
Labels: bug

#2522 Contribution updates
  docs/img/xrplf-logo.png
  resources/contribute-documentation/index.md
Labels: needs japanese translation

#2554 Fix Flag Name
  docs/references/protocol/transactions/types/payment.md
Labels: content updates

#2552 Transaction metadata
  docs/references/protocol/transactions/metadata.md
Labels: content updates

#2535 Add NFTOffer directory
  docs/references/protocol/ledger-data/ledger-entry-types/directorynode.md
Labels: needs japanese translation
