Repository XRPLF/xrpl-dev-portal, pull requests merged in 2025-03, with the labels that each got.

#2977 Upgrade browser wallet (js) deps
  _code-samples/build-a-browser-wallet/js/index.js
  _code-samples/build-a-browser-wallet/js/package.json
  _code-samples/build-a-browser-wallet/js/src/helpers/get-wallet-details.js
  _code-samples/build-a-browser-wallet/js/src/helpers/submit-transaction.js
  _code-samples/build-a-browser-wallet/js/src/send-xrp/send-xrp.js
  _code-samples/build-a-browser-wallet/js/src/transaction-history/transaction-history.js
  _code-samples/build-a-browser-wallet/js/vite.config.js
  _code-samples/build-a-browser-wallet/js/yarn.lock
  docs/tutorials/javascript/build-apps/build-a-browser-wallet-in-javascript.md
Labels: javascript

#2960 Add Credential Issuer tutorial
  _code-samples/issue-credentials/README.md
  _code-samples/issue-credentials/py/README.md
  _code-samples/issue-credentials/py/accept_credential.py
  _code-samples/issue-credentials/py/credential_model.py
  _code-samples/issue-credentials/py/decode_hex.py
  _code-samples/issue-credentials/py/issuer_service.py
  _code-samples/issue-credentials/py/look_up_credentials.py
  _code-samples/issue-credentials/py/requirements.txt
  docs/tutorials/python/build-apps/credential-issuing-service.md
  sidebars.yaml
Labels: new topic, python, needs japanese translation

#3037 Clarify nonstandard currency codes
  docs/references/protocol/data-types/currency-formats.md
Labels: content updates, needs japanese translation

#3030 Verify credential tutorial (Python)
  _code-samples/verify-credential/README.md
  _code-samples/verify-credential/py/README.md
  _code-samples/verify-credential/py/requirements.txt
  _code-samples/verify-credential/py/verify_credential.py
  docs/tutorials/python/build-apps/credential-issuing-service.md
  docs/tutorials/python/compliance/index.md
  docs/tutorials/python/compliance/verify-credential.md
  sidebars.yaml
Labels: new topic, needs japanese translation

#3022 Add missing and latest Clio release notes to blog site
  blog/2024/clio-2.3.0.md
  blog/2025/clio-2.3.1.md
  blog/2025/clio-2.4.0.md
  blog/sidebars.yaml
Labels: clio, blog

#3040 Add non-admin feature RPC
  docs/references/http-websocket-apis/admin-api-methods/status-and-debugging-methods/feature.md
  docs/references/http-websocket-apis/public-api-methods/index.md
  docs/references/http-websocket-apis/public-api-methods/server-info-methods/feature.md
  resources/dev-tools/components/websocket-api/data/command-list.json
  sidebars.yaml
Labels: needs japanese translation

#2972 Add account configuration topic
  _code-samples/account-configurator/README.md
  _code-samples/account-configurator/account-configurator.css
  _code-samples/account-configurator/account-configurator.html
  _code-samples/account-configurator/account-configurator.js
  _code-samples/account-configurator/account-configurator.zip
  docs/concepts/accounts/configuring-accounts.md
  docs/img/cpt-account-configurator1.png
  docs/img/cpt-account-configurator2.png
  docs/img/cpt-account-configurator3.png
  docs/img/cpt-account-configurator4.png
  docs/img/cpt-account-configurator5.png
  docs/img/cpt-account-configurator6.png
  docs/img/cpt-account-configurator7.png
  sidebars.yaml
Labels: needs japanese translation
