Repository XRPLF/xrpl-dev-portal, pull requests merged in 2025-01, with the labels that each got.

#2918 Add server_definitions to public API methods index page
  docs/references/http-websocket-apis/public-api-methods/index.md
Labels: bug, needs japanese translation

#2935 Remove MPT-Devnet faucet, which has been shut down; use APIv1 for Faucets
  resources/dev-tools/faucets.json
  resources/dev-tools/xrp-faucets.page.tsx
Labels: web dev, content updates

#2856 Rippling redux
  docs/concepts/tokens/fungible-tokens/rippling.md
  docs/img/cpt-rippling1.png
  docs/img/cpt-rippling2.png
  docs/img/cpt-rippling3.png
  docs/img/cpt-rippling4.png
  docs/img/cpt-rippling5.png
  docs/img/cpt-rippling6.png
Labels: needs japanese translation

#2905 Migrate Credentials docs from opensource.ripple.com
  docs/_snippets/common-links.md
  docs/concepts/decentralized-storage/credentials.md
  docs/references/http-websocket-apis/public-api-methods/ledger-methods/ledger_entry.md
  docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/deposit_authorized.md
  docs/references/protocol/ledger-data/ledger-entry-types/credential.md
  docs/references/protocol/ledger-data/ledger-entry-types/depositpreauth.md
  docs/references/protocol/transactions/types/accountdelete.md
  docs/references/protocol/transactions/types/credentialaccept.md
  docs/references/protocol/transactions/types/credentialcreate.md
  docs/references/protocol/transactions/types/credentialdelete.md
  docs/references/protocol/transactions/types/depositpreauth.md
  docs/references/protocol/transactions/types/escrowfinish.md
  docs/references/protocol/transactions/types/payment.md
  docs/references/protocol/transactions/types/paymentchannelclaim.md
  sidebars.yaml
Labels: needs japanese translation

#2954 [JA] Fix broken links
  @l10n/ja/docs/concepts/tokens/fungible-tokens/index.md
  @l10n/ja/docs/references/http-websocket-apis/public-api-methods/clio-methods/index.md
Labels: bug

#2958 Devnet Reset Blog Post
  blog/2025/devnet-reset.md
  blog/sidebars.yaml
Labels: blog

#2965 Fix unparsed common links
  docs/_snippets/common-links.md
  docs/concepts/decentralized-storage/credentials.md
  resources/known-amendments.md
Labels: bug
