Repository XRPLF/xrpl-dev-portal, pull requests merged in 2025-04, with the labels that each got.

#3062 Fix #2858
  docs/img/_sources/field-id-diagrams.uxf
  docs/img/field-id-uncommon-type-common-field.png
Labels: bug

#3041 Credential Issuer tutorial: macOS notes
  docs/tutorials/python/build-apps/credential-issuing-service.md
Labels: content updates

#2970 1839 - Document ignore_default field for account_lines API method
  _api-examples/account_lines/jsonrpc-response.json
  _api-examples/account_lines/ws-response.json
  docs/_snippets/common-links.md
  docs/references/http-websocket-apis/public-api-methods/account-methods/account_channels.md
  docs/references/http-websocket-apis/public-api-methods/account-methods/account_currencies.md
  docs/references/http-websocket-apis/public-api-methods/account-methods/account_info.md
  docs/references/http-websocket-apis/public-api-methods/account-methods/account_lines.md
  docs/references/http-websocket-apis/public-api-methods/account-methods/account_nfts.md
  docs/references/http-websocket-apis/public-api-methods/account-methods/account_objects.md
  docs/references/http-websocket-apis/public-api-methods/account-methods/account_offers.md
  docs/references/http-websocket-apis/public-api-methods/account-methods/gateway_balances.md
  docs/references/http-websocket-apis/public-api-methods/account-methods/noripple_check.md
  docs/references/http-websocket-apis/public-api-methods/clio-methods/ledger-clio.md
  docs/references/http-websocket-apis/public-api-methods/clio-methods/nft_history.md
  docs/references/http-websocket-apis/public-api-methods/clio-methods/nft_info.md
  docs/references/http-websocket-apis/public-api-methods/ledger-methods/ledger_entry.md
  docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/book_offers.md
  docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/nft_buy_offers.md
  docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/nft_sell_offers.md
  docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/ripple_path_find.md
  docs/references/http-websocket-apis/public-api-methods/transaction-methods/transaction_entry.md
Labels: needs japanese translation

#3074 Remove axios dependency
  package-lock.json
  package.json
  resources/dev-tools/toml-checker/ValidateTomlSteps.tsx
Labels: web dev

#3049 Update dependencies & fix some bugs in JS code
  docs/tutorials/how-tos/use-tokens/issue-a-fungible-token.md
  package-lock.json
  package.json
  resources/dev-tools/tx-sender.page.tsx
  static/js/tutorials/issue-a-token.js
Labels: bug, dependencies, tokenization, redocly

#3072 Tutorial [JS]: Build a Credential Issuer Service
  _code-samples/issue-credentials/js/.env
  _code-samples/issue-credentials/js/README.md
  _code-samples/issue-credentials/js/accept_credential.js
  _code-samples/issue-credentials/js/credential.js
  _code-samples/issue-credentials/js/errors.js
  _code-samples/issue-credentials/js/issuer_service.js
  _code-samples/issue-credentials/js/look_up_credentials.js
  _code-samples/issue-credentials/js/package.json
  docs/tutorials/javascript/build-apps/credential-issuing-service.md
  sidebars.yaml
Labels: needs japanese translation
